
.select{
  background:  #afeaf1;
  cursor: pointer;
  display:inline-block;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 0.5px;
  border-style: groove;
}
.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
}

.paginado{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  width: 300;
font-size: 20px;
  
}

.filterC{
  display: flex;
  flex-direction: row;
  justify-content: center ;
  justify-content: space-evenly ;

}
.refresh{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: italic;
  color: #000000;
  font-size: 14px;
  background:   #f8c7cb;
  padding:  3px 13px 3px 13px ;
  text-decoration: none;
  
}
.input{
  background-color: #ca96b0;
}
.create{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: italic;
  color: #000000;
  font-size: 20px;
  background: #73e1f0;
  padding:  6px 16px 6px 16px ;
  text-decoration: none;
  
}
.search{
  display: flex;
  justify-content: start;
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.btnsearch {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 0.5px;
  font-family: italic;
  color: #000000;
  font-size: 14px;
  background:  #94ecc3;
  padding:  3px 13px 3px 13px ;
  text-decoration: none;
}

.btnsearch:hover {
  background: #d8e66c;
  text-decoration: none;
  cursor: pointer;
}
.create:hover {
  background: #e4eca3;
  text-decoration: none;
  cursor: pointer;
}
.refresh:hover {
  background: #e4eca3;
  text-decoration: none;
  cursor: pointer;
}
 .recetas{
   font-family: dosis;
   font-size: 30px;
    color: rgb(80, 80, 61);
 }

 .home{
  background-color: white;
  border-radius: 5px;
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
 }